<!doctype html>

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/rev.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/status.css') }}">
<meta http-equiv="refresh" content="10" >

<div class="links"><a class="acltive" href="dev">Dev</a> <a href="stage">Stage</a> <a href="prod">Prod</a></div>
<table class="blueTable">

<tr><strong>Service 01</strong></tr>
<thead>
<tr>
<th>Host Name</th>
<th>Version</th>
<th>Test Mode</th>
<th>Environment</th>
<th>Service Status</th>
</tr>
</thead>
<tfoot>
<tr>
<td colspan="6">
</td>
</tr>
</tfoot>
<tbody>
{% for host in hostnames %}
{% set hostname = host["hostname"] %}
<tr>
<td>{{host["hostname"]}}</td>
<td>{{host["version"]}}</td>
<td>{{host["test_mode"]}}</td>
<td>{{host["environment"]}}</td>
<td><span class="dot dot-{{row["service_status"]}}"><span class="dot-inner"></span></span></td>
</tr>
{% endfor %}
</tbody>
</table>